table {
  color: #999;
  margin-top: 64px;
  border-collapse: collapse;
}

th {
  font-weight: 600;
  text-align: left;
  color: #000;
}
th, td {
  font-size: 16px;
  padding: 16px;
  border: 2px solid #999;
}
